### dbt ###
target/
dbt_modules/
dbt_packages/
logs/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Data Loader Log
.cache/data_loader.log
